.taskTitle {
    font-weight: bold;
}

.tasks {
    margin: 1em 0;
}

#addTaskText {
    width: 47em;
}

#addedHours,
#addedMinutes{
    width: 3em;
    text-align: center;
}

.spentTimeLabel {
    white-space: nowrap;
}

td {
	transition:  all 1s;
    -webkit-transition:  all 1s;    
    -moz-transition:  all 1s;
    vertical-align: top;
}
#alerts .alert-info { margin-top: 10px; }